/* Hoofdingen styling */
h1, h2, h3 {
    font-family: Arial, sans-serif;
}

/* Tekstgrootte hoofdingen */
h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.4em;
}

/* Paragraaf styling */
p {
    font-family: 'Times New Roman', serif;
    font-size: 1.2em;
}

/* Kleuren paragrafen */
.red-text {
    color: red;
}

.green-text {
    color: green;
}

.blue-text {
    color: blue;
}